node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/.tsbuildinfo
.next/cache/fetch-cache/f0c2abc04bec410d13afb3d3af2d3f46e27b702b7db2340b3b4efa79f17ca418
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/3.pack
.next/cache/webpack/client-production/4.pack
.next/cache/webpack/client-production/5.pack
.next/cache/webpack/client-production/6.pack
.next/cache/webpack/client-production/7.pack
.next/cache/webpack/client-production/8.pack
.next/cache/webpack/client-production/9.pack
.next/cache/webpack/client-production/10.pack
.next/cache/webpack/client-production/11.pack
.next/cache/webpack/client-production/12.pack
.next/cache/webpack/client-production/13.pack
.next/cache/webpack/client-production/14.pack
.next/cache/webpack/client-production/15.pack
.next/cache/webpack/client-production/16.pack
.next/cache/webpack/client-production/17.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/edge-server-production/0.pack
.next/cache/webpack/edge-server-production/index.pack
.next/cache/webpack/edge-server-production/index.pack.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/3.pack
.next/cache/webpack/server-production/4.pack
.next/cache/webpack/server-production/5.pack
.next/cache/webpack/server-production/6.pack
.next/cache/webpack/server-production/7.pack
.next/cache/webpack/server-production/8.pack
.next/cache/webpack/server-production/9.pack
.next/cache/webpack/server-production/10.pack
.next/cache/webpack/server-production/11.pack
.next/cache/webpack/server-production/12.pack
.next/cache/webpack/server-production/13.pack
.next/cache/webpack/server-production/14.pack
.next/cache/webpack/server-production/15.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/api/directory/route.js
.next/server/app/founders/page_client-reference-manifest.js
.next/server/app/founders/page.js
.next/server/app/founders/\[id]/page_client-reference-manifest.js
.next/server/app/founders/\[id]/page.js
.next/server/app/products/page_client-reference-manifest.js
.next/server/app/products/page.js
.next/server/app/products/\[slug]/page_client-reference-manifest.js
.next/server/app/products/\[slug]/page.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/@ungap.js
.next/server/vendor-chunks/bail.js
.next/server/vendor-chunks/ccount.js
.next/server/vendor-chunks/character-entities-html4.js
.next/server/vendor-chunks/character-entities-legacy.js
.next/server/vendor-chunks/character-entities.js
.next/server/vendor-chunks/comma-separated-tokens.js
.next/server/vendor-chunks/debug.js
.next/server/vendor-chunks/decode-named-character-reference.js
.next/server/vendor-chunks/dequal.js
.next/server/vendor-chunks/devlop.js
.next/server/vendor-chunks/esprima.js
.next/server/vendor-chunks/extend-shallow.js
.next/server/vendor-chunks/extend.js
.next/server/vendor-chunks/gray-matter.js
.next/server/vendor-chunks/has-flag.js
.next/server/vendor-chunks/hast-util-sanitize.js
.next/server/vendor-chunks/hast-util-to-html.js
.next/server/vendor-chunks/hast-util-whitespace.js
.next/server/vendor-chunks/html-void-elements.js
.next/server/vendor-chunks/is-extendable.js
.next/server/vendor-chunks/is-plain-obj.js
.next/server/vendor-chunks/kind-of.js
.next/server/vendor-chunks/longest-streak.js
.next/server/vendor-chunks/mdast-util-from-markdown.js
.next/server/vendor-chunks/mdast-util-phrasing.js
.next/server/vendor-chunks/mdast-util-to-hast.js
.next/server/vendor-chunks/mdast-util-to-markdown.js
.next/server/vendor-chunks/mdast-util-to-string.js
.next/server/vendor-chunks/micromark-core-commonmark.js
.next/server/vendor-chunks/micromark-factory-destination.js
.next/server/vendor-chunks/micromark-factory-label.js
.next/server/vendor-chunks/micromark-factory-space.js
.next/server/vendor-chunks/micromark-factory-title.js
.next/server/vendor-chunks/micromark-factory-whitespace.js
.next/server/vendor-chunks/micromark-util-character.js
.next/server/vendor-chunks/micromark-util-chunked.js
.next/server/vendor-chunks/micromark-util-classify-character.js
.next/server/vendor-chunks/micromark-util-combine-extensions.js
.next/server/vendor-chunks/micromark-util-decode-numeric-character-reference.js
.next/server/vendor-chunks/micromark-util-decode-string.js
.next/server/vendor-chunks/micromark-util-encode.js
.next/server/vendor-chunks/micromark-util-html-tag-name.js
.next/server/vendor-chunks/micromark-util-normalize-identifier.js
.next/server/vendor-chunks/micromark-util-resolve-all.js
.next/server/vendor-chunks/micromark-util-sanitize-uri.js
.next/server/vendor-chunks/micromark-util-subtokenize.js
.next/server/vendor-chunks/micromark-util-symbol.js
.next/server/vendor-chunks/micromark.js
.next/server/vendor-chunks/ms.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/property-information.js
.next/server/vendor-chunks/remark-html.js
.next/server/vendor-chunks/remark-parse.js
.next/server/vendor-chunks/remark-stringify.js
.next/server/vendor-chunks/remark.js
.next/server/vendor-chunks/section-matter.js
.next/server/vendor-chunks/space-separated-tokens.js
.next/server/vendor-chunks/stringify-entities.js
.next/server/vendor-chunks/strip-bom-string.js
.next/server/vendor-chunks/supports-color.js
.next/server/vendor-chunks/trim-lines.js
.next/server/vendor-chunks/trough.js
.next/server/vendor-chunks/unified.js
.next/server/vendor-chunks/unist-util-is.js
.next/server/vendor-chunks/unist-util-position.js
.next/server/vendor-chunks/unist-util-stringify-position.js
.next/server/vendor-chunks/unist-util-visit-parents.js
.next/server/vendor-chunks/unist-util-visit.js
.next/server/vendor-chunks/vfile-message.js
.next/server/vendor-chunks/vfile.js
.next/server/vendor-chunks/zwitch.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/founders/page.js
.next/static/chunks/app/founders/\[id]/page.js
.next/static/chunks/app/products/page.js
.next/static/chunks/app/products/\[slug]/page.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/6d93bde91c0c2823-s.woff2
.next/static/media/26a46d62cd723877-s.woff2
.next/static/media/55c55f0601d81cf3-s.woff2
.next/static/media/97e0cb1ae144a2a9-s.woff2
.next/static/media/581909926a08bbc8-s.woff2
.next/static/media/a34f9d1faa5f3315-s.p.woff2
.next/static/media/df0a9ae256c0569c-s.woff2
.next/static/webpack/90ebb6eb7a59db00.webpack.hot-update.json
.next/static/webpack/727b67a98b869e60.webpack.hot-update.json
.next/static/webpack/7132e6e1f9fe97ec.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/a2e601f07bec6e62.webpack.hot-update.json
.next/static/webpack/d7af8ecfdb54877b.webpack.hot-update.json
.next/static/webpack/webpack.90ebb6eb7a59db00.hot-update.js
.next/static/webpack/webpack.727b67a98b869e60.hot-update.js
.next/static/webpack/webpack.7132e6e1f9fe97ec.hot-update.js
.next/static/webpack/webpack.a2e601f07bec6e62.hot-update.js
.next/static/webpack/webpack.d7af8ecfdb54877b.hot-update.js
.next/static/webpack/app/layout.727b67a98b869e60.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/api/directory/route.ts
.next/types/app/founders/page.ts
.next/types/app/founders/\[id]/page.ts
.next/types/app/products/page.ts
.next/types/app/products/\[slug]/page.ts
content/founders/brian-chesky.md
content/founders/eric-yuan.md
content/founders/ivan-zhao.md
content/founders/jason-citron.md
content/founders/stewart-butterfield.md
content/founders/tope-awotona.md
content/products/airbnb.md
content/products/calendly.md
content/products/discord.md
content/products/notion.md
content/products/slack.md
content/products/zoom.md
